@model VSAS.Models.VehicleDetail

@{
    ViewData["Title"] = "Create";
    string errorMessage = ViewBag.errorMessage;
    var monthList = ViewBag.MonthList;
    var ContactNumberList = ViewBag.ContactNumberList;

}

<h1>Create</h1>
<h3>Vehicle Profile</h3>

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label>Contact Number</label>
                <select asp-for="UserId" class="form-control" asp-items="ContactNumberList" id="userDetailId" type="text"></select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleRegNumber">Registration Number</label>
                <input asp-for="VehicleRegNumber" class="form-control" id="registrationNumber" type="text" />
                <span asp-validation-for="VehicleRegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChassisNumber">Chasis Number</label>
                <input asp-for="ChassisNumber" class="form-control" id="chasisNumber" type="text" />
                <span asp-validation-for="ChassisNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineNumber">Engine Number</label>
                <input asp-for="EngineNumber" class="form-control" id="engineNumber" type="text" />
                <span asp-validation-for="EngineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make">Make</label>
                <input asp-for="Make" class="form-control" id="make" type="text" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Make Month</label>
                <select asp-for="MakeMonth" class="form-control" asp-items="monthList" id="makeMonth" type="text"></select>
            </div>
            <div class="form-group">
                <label>Make Year</label>
                <input asp-for="MakeYear" class="form-control" id="makeYear" type="text">
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate">Purchase Date</label>
                <input asp-for="PurchaseDate" class="form-control" type="date" id="purchaseDate" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentOdometerReading">Current Odometer Reading</label>
                <input asp-for="CurrentOdometerReading" class="form-control" id="currentOdometerReading" type="text" />
                <span asp-validation-for="CurrentOdometerReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="save" class="btn btn-primary">Save</button>
            </div>
            <div class="form-group">
                <div id="errorMessage">@ViewBag.errorMessage</div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}