
@{
    ViewData["Title"] = "Dashboard";
}

<h1>VSAS - Dashboard</h1>
<br />
<a asp-action="Index" asp-controller="UserDetail">User Detail</a>
<br /><br />
<a asp-action="Index" asp-controller="VehicleDetail">Vehicle Detail</a>
<br /><br />
<a href="#">Vehicle Service Histories</a>
<br /><br />
<a href="#">Service Notification Histories</a>
