@model VSAS.Models.VehicleServiceHistory

@{
    ViewData["Title"] = "Create";
    string errorMessage = ViewBag.ErrorMessage;
    var vehicleList = ViewBag.vehicleList;
    if(vehicleList == null)
            {
                errorMessage = "Service Done Date should be greater than Purchase Date and Odometer Reading should be greater than current odometer reading.";
            }
}

<h1>Create</h1>

<h4>VehicleServiceHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label>Registration Number</label>
                <select asp-for="VehicleId" class="form-control" asp-items="vehicleList" id="vehicleDetailId" type="text"></select>
            </div>
            <div class="form-group">
                <label asp-for="OdometerReading">Odometer Reading</label>
                <input asp-for="OdometerReading" class="form-control" id="odometerReading" />
                @*<span asp-validation-for="OdometerReading" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ServiceDoneDate">Service Done Date</label>
                <input asp-for="ServiceDoneDate" type="datetime-local" class="form-control" id="serviceDoneDate" />
                @*<span asp-validation-for="ServiceDoneDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ServiceDetails">Service Done Details</label>
                <input asp-for="ServiceDetails" class="form-control" id="serviceDoneDetails" type="text" />
                @*<span asp-validation-for="ServiceDetails" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ServiceDealerDetails">Service Dealer Details</label>
                <input asp-for="ServiceDealerDetails" class="form-control" id="serviceDealerDetails" type="text" />
                @*<span asp-validation-for="ServiceDealerDetails" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="NextServiceDueDate">Next Service Due Date</label>
                <input asp-for="NextServiceDueDate" type="datetime-local" class="form-control" id="nextServiceDueDate" />
                @*<span asp-validation-for="NextServiceDueDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <button type="submit" id="save" class="btn btn-primary">Save</button>
            </div>
            <div class="form-group">
                <div  id="errorMessage">@errorMessage</div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


